<div>
    <p>
        Hello <b>{{ name }}</b>,
    </p>

    <p>
        You recently created a {{appName}} account.
        Use the following code within the next 10 minutes to verify your email.
    </p>

    <div>{{ code }}</div>

    <p>
        If you did not create an account, please ignore this email or <a href="#">contact support</a> if you have
        questions.
    </p>

    <p>
        Thanks,
        <b>The {{ appName }} Team</b>
    </p>
</div>