{{#> body}}
    {{#> greeting}}
        Hello {{name}},
    {{/greeting}}

    {{#> message}}
        You recently created a {{appName}} account. Use the following code within the next 10 minutes to verify your email.
    {{/message}}

    {{#> verify-email}}
        {{#> verify-email-code}}
            {{code}}
        {{/verify-email-code}}
    {{/verify-email}}

    {{#> message}}
        If you did not create an account, please ignore this email or <a href="#">contact support</a> if you have questions.
    {{/message}}

    {{#> message}}
        Thanks,
        The {{appName}} Team
    {{/message}}
{{/body}}
